.todo-header {
  background: #fff;
  padding: var(--layout-big) var(--layout-medium) 0;
  border-radius: var(--border-radius) var(--border-radius) 0 0;
  position: relative;
}

.todo-title-box {
  display: flex;
  align-items: flex-start;
  gap: 10px;
}

.todo-header-title {
  font-size: var(--size-big);
  font-weight: bold;
}

.todo-header-subTitle {
  margin-top: 8px;
  margin-left: 2px;
  opacity: 0.6;
}

.todo-circle {
  margin-left: auto;
  font-size: 12px;
  color: var(--color-primary);
  border: 1px solid currentColor;
  border-radius: 10px;
  background: var(--color-primary-soft);
  padding: 4px 10px 3px;
}
