.todo-main {
  background: #fff;
  padding: var(--layout-medium);
  padding-bottom: var(--layout-big);
  border-radius: 0 0 var(--border-radius) var(--border-radius);
  overflow-y: auto;
  height: 100%;
}

.todo-list-header {
  display: flex;
  align-items: center;
}

.todo-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.todo-item {
  display: flex;
  align-items: center;
  gap: 10px;
  transition: background var(--transition-duration);
  background: #f2f2f2;
  padding: 10px 15px;
  border-radius: 10px;
  border: 2px solid #f2f2f2;
}

.todo-title {
  position: relative;
  cursor: pointer;
}

.todo-title::after {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 0;
  transition: width var(--transition-duration);
  width: 0;
  height: 2px;
  background: #000;
}

.todo-item.is-completed {
  background: #fff;
  /* backdrop-filter: ; */
}

.todo-item.is-completed .todo-title {
  opacity: 0.6;
}
.todo-item.is-completed .todo-title::after {
  width: 100%;
}

.delete-btn {
  /* background: url(/assets/img/icon-delete.svg) no-repeat center; */
}

.delete-btn::after {
  content: "";
  display: block;
  position: relative;
  width: 20px;
  aspect-ratio: 1/1;
  background: url(/assets/img/icon-delete.svg) no-repeat center / 100%;
}
